#outcome-groups-container {}

.outcomes-list {
  border: 1px solid #000;
  list-style:none;
}

.employment-outcome {
    border: 1px solid #000;
    cursor:move;
    width: 235px;
    margin:10px;
    padding:5px;
}
